<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 指明controller所在包，并扫描注解  -->
    <context:component-scan base-package="com.clt.sealmanager.controller"/>
    <!-- 静态资源访问  -->
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="js/**" location="js/"/>
    <mvc:resources mapping="styles/**" location="images/"/>
    <mvc:resources mapping="images/**" location="images/"/>
    <!-- 开启注解  -->
    <mvc:annotation-driven/>



    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!-- 配置拦截器 -->
    <mvc:interceptors>
        <!-- 多个拦截器，顺序执行 -->
        <!-- 配置登陆拦截器 -->
        <mvc:interceptor>
            <!-- /** 表示所有的url，包括子url路径 -->
            <mvc:mapping path="/**"/>
            <bean class="com.clt.sealmanager.base.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
